@{
    ViewBag.Title = "Contact";

    string[] productAboutText = ViewBag.ProductAboutText == null ? "[unknown]" : ViewBag.ProductAboutText;
    string aboutText = string.Empty;

    foreach (string line in productAboutText)
    {
        aboutText += $"{line}{Environment.NewLine}";
    }
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    PO Box 1000<br />
    Washington, DC 20001<br />
    <abbr title="Phone">P:</abbr>
    202.555.1212
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Contact
</button>

<!-- Modal -->
@*<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Please Sign in.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Now is the time for all good men to come to the aid of their country.  Please sign in using the credentials provided to you on completing registration.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>*@

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Contact</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                @Html.TextArea("aboutText", aboutText, 32, 300, new { style = "max-width:560px; min-width:320px;" })

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<p></p>
<div class="bg-white table table-hover table-striped">
    <h4>bs div table classes, Html5 table bs4.5.3, jq 3.5.1 pp1.16.1 </h4>
    <table>
        <tbody>
            <tr>
                <th>col 1</th>
                <th>col 2</th>
                <th>col 2</th>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
            <tr>
                <td>21</td>
                <td>22</td>
                <td>23</td>
            </tr>
            <tr>
                <td>31</td>
                <td>32</td>
                <td>33</td>
            </tr>
            <tr>
                <td>41</td>
                <td>42</td>
                <td>43</td>
            </tr>
            <tr>
                <td>51</td>
                <td>52</td>
                <td>53</td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>